@import url(./normalize.css);

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1C1C1C;
    line-height: normal;
    font-size: 16px;
}

nav {
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
}

header {
    margin-top: 110px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: context-menu;
}

h1 {
    margin: 0;
}

h3 {
    margin-top: 29px;
    margin-bottom: 15px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
}

p,
span {
    cursor: context-menu;
}

li,
p,
span,
a,
h1,
h2,
h3,
h4,
h6,
.path-fill {
    transition: 0.5s;
}

a {
    display: flex;
    align-items: center;
}

span {
    font-weight: 400;
}

label,
span,
p {
    color: #787878;

}

textarea {
    padding-top: 21px !important;
    resize: none
}

.policy-agree * {
    cursor: pointer;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

p {
    word-break: break-all;
    white-space: normal;
    margin: 0;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    color: #1C1C1C;
    font-size: 17px;
    font-weight: 600;
    line-height: 180%;
    margin: 0;
}

button,
.btn {
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    background: #3172B9;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: #71A7E2;
    transition: 0.2s;
}

section {
    padding-top: 87px;
    padding-bottom: 160px;
    border-bottom: 1px solid #C4C4C4;
}

form {
    z-index: -1;
    display: flex;
    gap: 19px;
    flex-direction: column;
    align-items: flex-end;
}

::placeholder,
.country-select {
    color: #1C1C1C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    min-width: 100px;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header-nav {
    min-height: 110px;
    border-bottom: 1px solid #C4C4C4;
}

.hf-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 52px;
}

.sub-client {
    max-width: 281px;
}

.nav-item {
    text-decoration: none;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    flex-direction: column;
}

.header-nav-item {
    color: #1C1C1C;
}

.footer-nav-item {
    color: #787878;
}

.page-line {
    display: none;
    background: #3474BA;
    width: 100%;
    height: 2px;
}

.actual-page {
    color: #3172B9;
}

.header-nav-item:hover {
    color: #71A7E2;
    transition: 0.2s;
}

.header-nav-btn {
    padding: 15px 35.5px;
    color: white !important;
}

.banner {
    background-image: url(../image/first-bg\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center bottom -47px; */
}

.title {
    line-height: 130%;
    font-weight: 300;
    font-size: 36px;
}

.banner-title {
    text-align: unset !important;
    width: 507px;
    font-weight: 300;
    font-size: 40px;
}

.banner-wrapper {
    max-width: 529px;
    padding-top: 113px;
    padding-bottom: 134px;
}

.banner-sub {
    width: 440px;
    margin-top: 26px;
    margin-bottom: 34px;
    line-height: 155%;
}

.banner-btn {
    padding: 19px 58px;
}

.banner-secure {
    margin-left: 40px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.banner-secure-text {
    font-size: 11px;
    font-weight: 400;
    line-height: 155%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-sub {
    margin-top: 21px;
    margin-bottom: 54px;
}

.section-service-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.section-service-item {
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 30px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    cursor: pointer;
}

.section-service-item:hover,
.section-article-item:hover {
    background: #3172B9;
    transition: 0.5s;

    h3,
    span,
    p {
        color: #FFF;
    }

    path {
        fill: #FFF;
    }
}

.card-sub {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.section-article-list {
    margin-top: 42px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-article-item {
    width: 570px;
    height: 180px;
    display: flex;
    gap: 30px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    cursor: pointer;
}

.card-content-advice {
    margin-top: 23px;
    margin-bottom: 38px;
    width: 210px;
}

.card-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
}

.date {
    font-size: 10px;
    line-height: 150%;
}

.sub-service {
    text-align: center;
    word-break: break-all;
}

.sub-advice {
    text-align: left;

}

.section-client-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 42px;
}

.section-client-item {
    width: 370px;
    padding-top: 51px;
    padding-left: 36px;
    padding-right: 37px;
    padding-bottom: 32px;
    border-radius: 5px;
    border: 1px solid #6b6b6b31;
}

.break {
    opacity: 0.6;
    background: #DADADA;
    width: 297px;
    height: 1px;
    margin-bottom: 28px;
    margin-top: 33px;
}

.card-content-client {
    display: flex;
    gap: 10px;
}

.card-content-info {
    display: flex;
    flex-direction: column;
}

.sub-client,
.sub-contact {
    color: #787878;
    text-align: left;
    line-height: 180%;
    /* ! */
    word-break: break-word;
    word-spacing: -1.6px;
    white-space: normal;
}

.card-content-info {
    margin-top: 5px;
    margin-bottom: 10px;
}

.role {
    font-size: 14px;
    line-height: 180%;
    /* 25.2px */
}

.section-contact-list {
    display: flex;
    gap: 186px;
    flex-wrap: wrap;
    margin-top: 109px;
}

.section-contact-item {
    width: 214px;
}

.name-contact {
    margin-top: 19px;
    margin-bottom: 32px;
}

.form-group {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
}

.form-input {
    min-height: 60px;
    border-radius: 50px;
    border: 1px solid #DADADA;
    opacity: 0.6;
    width: 251px;
    padding: 15px 24px 16px 28px;
}

.form-input-drop {
    opacity: 1;

}

.form-input-drop {
    position: relative;
}

.form-input-beta {
    border-radius: 20px;
    width: 520px;
}

.active {
    display: block !important;
}

.country-list {
    display: none;
    top: 63px;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.10);
    padding-top: 7.93px;
    padding-bottom: 18.83px;
    width: 208px;
}


.country-name {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10.9px;
    margin-left: 14px;
}

.country-list-item:hover {
    background: #3172B9;

    .country-name {
        color: white;
    }

}

.dropdown-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-input-drop {
    cursor: pointer;
}

.form-input-beta::placeholder {
    position: absolute;
    top: 15px;
}

.form-info-group {
    gap: 19px;
    display: flex;
}

.form-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.form-btn {
    max-width: 237px;
    border-radius: 50px;
    height: 60px;
    padding: 20px 67px;
    font-size: 15px;
    font-weight: 600;
}

.submit-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.policy-agree {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.agree-link {
    display: inline;
}

.img-mod {
    transform: none;
    transition: 0.5s;
}

.sub-contact {
    cursor: pointer;
}

.sub-contact:hover {
    color: #71A7E2;
}

.form-input:focus {
    outline: 1px solid #0E3B6C;
}

.footer-wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
}

.copyright {
    cursor: context-menu;
    font-size: 12px;
    font-weight: 400;
}

.footer-sm {
    display: flex;
    align-items: center;
    gap: 32px;

    path:hover {
        fill: #71A7E2;
    }

}

.mail-pth {
    fill: none !important;
    stroke: black;
}

.footer-mid-group {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 56px;
    justify-content: space-between;
    flex-grow: 1;
}

@media(max-width:1280px) {
    h3 {
        font-size: 17px;
    }

    .sub-service {
        font-size: 13px;
    }

    .container {
        margin-left: 46px;
        margin-right: 46px;
    }

    .section-service-item {
        width: 213px;
    }

    .section-article-list {
        justify-content: center;
    }

    .section-article-item {
        width: 455px;
    }

    .section-client-item {
        width: 296px;
    }

    .title {
        text-align: center;
    }

    .path-fill {
        width: 55px;
    }

    .break {
        width: 99%;
    }

    .section-client-list {
        justify-content: center;
    }

    .section-client-item {
        padding: 20px;
    }

    .section-contact-list {
        justify-content: center;
    }

    .sub-client {
        max-width: 249px;
    }

    .form-group {
        justify-content: center;
    }

}

@media(max-width:1168px) {
    form {
        align-items: center;
    }

    .form-input-beta {
        min-height: 240px;
    }

    .copyright {
        max-width: 110px;
    }
}

@media(max-width:1056px) {
    .section-service-item {
        width: 206px;
        padding: 42px 30px;
    }

    .section-article-item {
        width: 442px;
    }

    .section-client-item {
        width: 285px;
    }

    .section-contact-list {
        gap: 126px;
    }
}

@media(max-width:1023px) {
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }

}


@media(max-width:986px) {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h3 {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 3px;
        white-space: normal;
        text-align: center;
    }

    .path-alt {
        width: 56px !important;
    }

    .container {
        margin-left: 15px;
        margin-right: 15px;
    }

    .path-fill {
        width: 42px;
    }

    .sub-service {
        font-size: 12px;
    }

    .section-service-item {
        width: 152px;
        padding: 15px;
    }

    .banner-wrapper {
        padding-top: 35px;
        padding-bottom: 0px;
    }

    .section-sub {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section-service-list {
        gap: 16px;
    }

    .section-client-list {
        gap: 15px;
    }

    .img-advice {
        object-fit: cover;
        width: 86px;
        object-position: 50%;
    }

    .section-article-item {
        width: 290px;
        height: 191px;
        gap: 15px;
    }

    .section-article-list,
    .section-client-list,
    .section-contact-list {
        margin-top: 15px;
    }

    .card-title {
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: left;
    }

    .card-content-advice {
        width: 140px;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .section-article-list {
        gap: 15px;
    }

    .section-contact-list {
        gap: 30px;
    }

    .name-contact {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    form {
        gap: 15px;
    }

    .submit-group {
        gap: 15px;
    }

    .form-btn {
        max-width: unset;
        width: 288px;
    }
}