@import url(./normalize.css);

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1C1C1C;
    line-height: normal;
    font-size: 16px;
}

nav {
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
}

header {
    margin-top: 110px;
}

h1 {
    margin: 0;
}

h3 {
    margin-top: 29px;
    margin-bottom: 15px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
}

a {
    display: flex;
    align-items: center;
}

span {
    font-weight: 400;
}

label,
span,
p {
    color: #787878;

}

.policy-agree * {
    cursor: pointer;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

p {
    word-break: break-all;
    white-space: normal;
    margin: 0;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    color: #1C1C1C;
    font-size: 17px;
    font-weight: 600;
    line-height: 180%;
    margin: 0;
}

button {
    font-size: 15px;
    border-radius: 3px;
    border: none;
    background: #3172B9;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

section {
    padding-top: 87px;
    padding-bottom: 160px;
    border-bottom: 1px solid #C4C4C4;
}

form {
    display: flex;
    gap: 19px;
    flex-direction: column;
    align-items: flex-end;
}

::placeholder {
    color: #1C1C1C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    min-width: 100px;
}

.container {
    max-width: 1170px;
    margin-left: 185px;
    margin-right: 185px;
}

.header-nav {
    min-height: 110px;
    border-bottom: 1px solid #C4C4C4;
}

.header-nav-wrapper {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 52px;
}

.header-nav-item {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.header-nav-btn {
    padding: 15px 35.5px;
}

.banner {
    background-image: url(../image/first-bg\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center bottom -47px; */
}

.title {
    line-height: 130%;
    font-weight: 300;
    font-size: 36px;
}

.banner-title {
    width: 507px;
    font-weight: 300;
    font-size: 40px;
}

.banner-wrapper {
    max-width: 529px;
    padding-top: 113px;
    padding-bottom: 134px;
}

.banner-sub {
    width: 440px;
    margin-top: 26px;
    margin-bottom: 34px;
    line-height: 155%;
}

.banner-btn {
    padding: 19px 58px;
}

.banner-secure {
    margin-left: 40px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.banner-secure-text {
    font-size: 11px;
    font-weight: 400;
    line-height: 155%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-sub {
    margin-top: 21px;
    margin-bottom: 54px;
}

.section-service-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.section-service-item {
    width: 265px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 30px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
}

.card-sub {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.section-article-list {
    margin-top: 42px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.section-article-item {
    width: 561px;
    height: 180px;
    display: flex;
    gap: 30px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
}

.card-content-advice {
    margin-top: 23px;
    margin-bottom: 38px;
    width: 210px;
}

.card-title {
    margin-top: 0;
    margin-bottom: 15px;
}

.date {
    font-size: 10px;
    line-height: 150%;
}

.sub-service {
    text-align: center;
    width: 215px;
    word-break: break-all;
}

.sub-advice {
    text-align: left;
    width: 190px;

}

.section-client-list {
    display: flex;
    gap: 30px;
    margin-top: 42px;
}

.section-client-item {
    width: 370px;
    padding-top: 51px;
    padding-left: 36px;
    padding-right: 53px;
    padding-bottom: 32px;
    border-radius: 5px;
    border: 1px solid #6b6b6b31;
}

.break {
    opacity: 0.6;
    background: #DADADA;
    width: 297px;
    height: 1px;
    margin-bottom: 28px;
    margin-top: 33px;
}

.card-content-client {
    display: flex;
    gap: 10px;
}

.card-content-info {
    display: flex;
    flex-direction: column;
}

.sub-client {
    width: 280px;
}

.sub-client,
.sub-contact {
    color: #787878;
    text-align: left;
    line-height: 180%;
    /* ! */
    word-break: break-word;
    word-spacing: -1.6px;
    white-space: normal;
}

.card-content-info {
    margin-top: 5px;
    margin-bottom: 10px;
}

.role {
    font-size: 14px;
    line-height: 180%;
    /* 25.2px */
}

.section-contact-list {
    display: flex;
    gap: 186px;
    margin-top: 109px;
}

.section-contact-item {
    width: 214px;
}

.name-contact {
    margin-top: 19px;
    margin-bottom: 32px;
}

.form-group {
    display: flex;
    gap: 19px;
}

.form-input {
    border: 1px solid #DADADA;
    opacity: 0.6;
    display: flex;
    width: 251px;
    padding: 15px 178px 16px 28px;
    align-items: center;
}

.form-input-alpha,
.form-input-drop {
    border-radius: 50px;

}

.form-input-beta {
    border-radius: 20px;
    width: 520px;
}

.dropdown-content {
    border-radius: 50px;
    display: block;
    position: absolute;
    width: 208px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.10);
    flex-shrink: 0;
}

.form-input-beta::placeholder {
    position: absolute;
    top: 15px;
}

.form-info-group {
    gap: 19px;
    display: flex;
}

.form-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.form-btn {
    max-width: 237px;
    border-radius: 50px;
    height: 60px;
    padding: 20px 67px;
    font-size: 15px;
    font-weight: 600;
}

.submit-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.policy-agree {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.agree-link {
    display: inline;
}